<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new post</title>
  </head>
  <body>
    <form action="/instagram" method="post">
      <input
        name="username"
        type="text"
        placeholder="Enter Username"
      /><br /><br />
      <textarea placeholder="Write your content" name="content"></textarea
      ><br /><br />
      <input type="text" name="post_pic" placeholder="Paste URL of post" />
      <br /><br />
      <input
        type="text"
        name="profile_pic"
        placeholder="Paste URL of profile"
      />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
